mixin social-list()
	.social-list&attributes(attributes)
		a.social(href='#', aria-label='facebook')
			+icon('fb')(style='width: 30px; height: 30px;').social__icon
		a.social(href='#', aria-label='linkedin')
			+icon('in')(style='width: 30px; height: 30px;').social__icon
