+nav(
	{
		compress: false,
		list: [
			{
				name: 'LVL_1_NAME_1-',
				img: 'images/main-nav-0.png',
			},
			{
				name: 'LVL_1_NAME_2',
				list: [
					{
						name: 'LVL_2_NAME_1',
					},{
						name: 'LVL_2_NAME_2',
						list: [
							{
								name: 'LVL_3_NAME_1',
							},{
								name: 'LVL_3_NAME_2',
							},

						]
					},

				]
			}
		]
	}
)
