h3 Тултипы
+tooltip({
	value: '<h1>Тултип</h1>'
})
	| Тултип
br
+tooltip({
	value: '<h1>Тултип с бекграундом</h1>',
	bg: 'lightblue'
})
	| Тултип с бекграундом
br
+tooltip({
	value: '<h1>Тултип</h1>',
	hover: 'false'
})
	| Тултип без ховера
