h3 Модалки
a.btn.btn--primary(href="#modal-prototype" data-toggle='modal') Прототип
a.btn.btn--primary(href="#modal-feedback" data-toggle='modal') Обратная связь
a.btn.btn--primary(href="#modalLogin" data-toggle='modal') Авторизация

block popups
	include ../modal/prototype/modal-prototype
	include ../modal/feedback/modal-feedback
	include ../slam-auth/slam-auth
