h3 Кнопки
.wrap.mb20
	button.btn.btn--primary.btn--large button
	button.btn.btn--outline.btn--large button
	button.btn.btn--link.btn--large button
.wrap.mb20
	button.btn.btn--primary button
	button.btn.btn--outline button
	button.btn.btn--link button
.wrap.mb20
	button.btn.btn--primary.btn--small button
	button.btn.btn--outline.btn--small button
	button.btn.btn--link.btn--small button

h3 Отключенные кнопки
.wrap.mb20
	button.btn.btn--primary.btn--large(disabled) button
	button.btn.btn--outline.btn--large(disabled) button
	button.btn.btn--link.btn--large(disabled) button
.wrap.mb20
	button.btn.btn--primary(disabled) button
	button.btn.btn--outline(disabled) button
	button.btn.btn--link(disabled) button
.wrap.mb20
	button.btn.btn--primary.btn--small(disabled) button
	button.btn.btn--outline.btn--small(disabled) button
	button.btn.btn--link.btn--small(disabled) button
