h3 Прелоадер
div(style=' position: relative; padding: 30px')
	.preloader
	p Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur corrupti atque sit sapiente eligendi dolorum quis, dolor sint similique provident consequatur nesciunt recusandae nam iure voluptates illum alias minus! Officiis ipsa quis, blanditiis perferendis quas quaerat debitis dignissimos illum et a eos necessitatibus corporis dolores labore distinctio consectetur veniam similique praesentium! Corrupti ad inventore mollitia velit! Cupiditate magni hic totam blanditiis delectus molestias ea tempora ipsa sequi fugit maiores inventore libero culpa animi, dolorum voluptatum natus odio quasi asperiores provident officia veniam quidem optio quod! Quisquam rerum neque praesentium modi itaque quibusdam maxime laborum veniam quis temporibus eum, omnis consequatur.
