h3 Стандартный нумерованный список с вложенными ul,li списками
ol
	li Заголовок
		ul
			li Договор страхования вступает в силу в 00 часов 00 минут дня, следующего за днем уплаты страхового взноса
			li Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».
	li Заголовок 2
		ol
			li Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».
			li Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».
				ol
					li Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».
					li Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».
	li Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».

h3 Нумерованный список
ol
	li Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».
	li Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».
	li Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».

h3 Стандартный не нумерованный список с вложенными ul,li списками
ul
	li Договор страхования вступает в силу в 00 часов 00 минут дня, следующего за днем уплаты страхового взноса
	li Дееспособные физические лица, в том числе иностранные граждане и лица без гражданства, заключившие договор страхования
		ul
			li Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».
			li Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».
	li Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5
	li Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5

//-h3 Светлая версия не нумерованный список с вложенными ul,li списками
//-ul.list--light
	li Договор страхования вступает в силу в 00 часов 00 минут дня, следующего за днем уплаты страхового взноса
	li Дееспособные физические лица, в том числе иностранные граждане и лица без гражданства, заключившие договор страхования
		ul
			li Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».
			li Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5 из 16 регионов, где голосование пройдет в сентябре 2017 года. Об этом со ссылкой на источники в администрации президента пишут «Ведомости».
	li Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5
	li Кремль решил не добиваться повышения явки избирателей на губернаторских выборах в 5
