h2 Аккордеон 1
.collapse-list
	+accordion({
		name: 'Документы',
		name_desc: 'на заключение договора текущего (расчетного) банковского счета для вкладов',
	})
		p Центральный офис компании находится в Минске и координирует работу филиальной сети по всей стране. Планирование деятельности подразделения сбыта требует учета многих факторов, прежде всего особенностей рынка сбыта, количества и географического расположения потенциальных потребителей, доли рынка конкурентов, маркетинговой стратегии продвижения продукции и многих других.
hr
