+include-style('promo-block')
+include-style('promo-block2')
+include-style('animation')
+include-script('animation')

.promo-block2-wrap#our-methods
	.promo-block2-wrap__bg
		+lazy-bg({
			img: 'images/speed-bg.jpg'
		})
	.container
		.parallax
			.promo-block2
				h2.promo-block2__title Как мы добиваемся таких результатов?
				.promo-block2__sub-title Высокие показатели по скорости не могут быть достигнуты только качественных кодом или мощным сервером. <br> Оптимизация сайта - это совокупность всех факторов веб-разработки, недоработка любого из них обязательно приведет к замедлению работы сайта
				.promo-block2__body
					.box-plate
						.box-plate__item
							.title Технологичная верстка
							.descr Мы используем собственный сборщик, отложенную подгрузку скрытых блоков, сжатие всех элементов и много другое. Наша верстка всегда адаптивная и имеет высокий отклик взаимодействия. Каждый блок нашего демо-сайта сверстан с учетом скорости загрузки.
						.box-plate__item
							.title Правильный код
							.descr Мы являемся экспертами в 1С-Битрикс с опытом разработки сложных высоконагруженных проектов. Мы всегда проходим монитор качества и делаем код-ревью по внутренним чек-листам. Любой наш проект сделан без кастомизации ядра Битрикс.
						.box-plate__item
							.title Оптимизация изображений
							.descr Помимо стандартных Битрикс-инструментов мы используем собственный модуль сжатия изображений с конвертацией их в легкий webp-формат. Изображения товаров в хорошем качестве весят всего по 5-10 килобайт.
						.box-plate__item
							.title Подключение др. сервисов
							.descr Несмотря на заявляемую "асинхронность" загрузки, все внешние чаты, колл-трекеры, пиксели и метрики сильно влияют на скорость загрузки. Мы умеем решать такие задачи, используя разные варианты подгрузки внешних сервисов в обход.
						.box-plate__item
							.title Оптимизация запросов
							.descr Неверная архитектура проекта, игнорирование кеша, использование штатных инфоблоков или неверное их подключение создают большую нагрузку на БД сайта. Мы уверенно оптимизируем запросы и время на их отработку.
						.box-plate__item
							.title Настроенный сервер
							.descr Мы сотрудничаем с ведущими хостинг-провайдерами и постоянно меряем мощности хостингов именно под Битрикс. Кроме того, мы имеем в штате своего серверного администратора с битрикс-сертификатом "Системное администрирование".

				.animate-field.hidden-md-down
					- var n = 0;
					while (n < 11)
						- n++
						.el