@import "../../assets/css/common/components-import";
.promo-block2-wrap {
  position: relative;
  padding: 100px 0;
  &__bg {
		width: 100%;
    height: 100%;
		
    &:after {
      content: "";
      display: block;
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(45deg, #be28a6 0, #e48023 70%);
      opacity: 0.8;
		}

		.lazy-img-wrap {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			.lazy-img {
				width: 100%;
				height: 100%;
				background-repeat: no-repeat;
				background-position: center top;
				background-size: cover;
				background-attachment: fixed;
			}
		}
  }
  @media (max-width: 575px) {
    padding: 50px 0;
  }
  .animate-field {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
	}
	
	.animate-field .el {
		position: absolute;
		animation: opacityElement 4s infinite;
	}
	
	.animate-field .el:nth-child(1) {
		top: -157px;
		left: -228px;
		width: 8px;
		height: 10px;
		background-color: #7a4281;
		animation-delay: 0s;
	}
	
	.animate-field .el:nth-child(2) {
		top: -84px;
		left: -211px;
		width: 1px;
		height: 81px;
		background-color: #7a4281;
		animation-delay: 1s;
	}
	
	.animate-field .el:nth-child(3) {
		top: -189px;
		left: -198px;
		width: 3px;
		height: 145px;
		background-color: #e48023;
		animation-delay: 2s;
	}
	
	.animate-field .el:nth-child(4) {
		bottom: -139px;
		left: -121px;
		width: 1px;
		height: 145px;
		background-color: #e48023;
		animation-delay: 0s;
	}
	
	.animate-field .el:nth-child(5) {
		bottom: -34px;
		left: -107px;
		width: 4px;
		height: 81px;
		background-color: #e48023;
		animation-delay: 4s;
	}
	
	.animate-field .el:nth-child(6) {
		bottom: -44px;
		left: -85px;
		width: 8px;
		height: 24px;
		background-color: #e48023;
		animation-delay: 1s;
	}
	
	.animate-field .el:nth-child(7) {
		top: -80px;
		right: -50px;
		width: 8px;
		height: 24px;
		background-color: #7a4281;
		animation-delay: 3s;
	}
	
	.animate-field .el:nth-child(8) {
		top: -70px;
		right: -72px;
		width: 4px;
		height: 81px;
		background-color: #e48023;
		animation-delay: 0s;
	}
	
	.animate-field .el:nth-child(9) {
		top: -175px;
		right: -86px;
		width: 1px;
		height: 145px;
		background-color: #e48023;
		animation-delay: 1s;
	}
	
	.animate-field .el:nth-child(10) {
		top: -17px;
		right: -106px;
		width: 2px;
		height: 167px;
		background-color: #7a4281;
		animation-delay: 4s;
	}
	
	.animate-field .el:nth-child(11) {
		top: 31px;
		right: -141px;
		width: 8px;
		height: 15px;
		background-color: #e48023;
		animation-delay: 3s;
	}
}
.parallax {
  height: 100%;
  // overflow: hidden;
  position: relative;
  z-index: 2;
}

.promo-block2 {
  position: relative;
  z-index: 1;

  &__title {
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
  }
  &__sub-title {
    text-align: center;
    color: #fff;
    font-size: 22px;
    margin-bottom: 20px;
    line-height: 1.35;
  }

  .box-plate__item {
    padding: 20px 30px;
    transition: box-shadow 0.2s;
    &:hover {
      box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.3);
    }
  }
  p {
    font-size: 20px;
    margin: 20px 0;
    line-height: 1.3;
    color: $c-main;
  }
  @media (max-width: 768px) {
    .box-plate__item {
      width: 100%;
      max-width: 400px;
      margin-left: auto;
      margin-right: auto;
      padding: 40px;
      font-size: 18px;
      line-height: 1.3;
    }
  }
}
