+include-style('speed-block')
.speed-block
	//- +lazy-bg({
	//- 	img: 'images/1c-bitrix.png'
	//- })
	.container
		.speed-block__icon
			+icon('i-speed')(style='width: 160px; height: 100px; fill:#894083')
		h2.speed-block__title Самые быстрые сайты в SLAM
		.row
			.container__col
				.secondary-text Мы детально изучили требования Google и обеспечиваем качественную реализацию проекта на всех уровнях: выбор хостинга, производительная верстка, качественный код с оптимизацией запросов к базам данных. Также мы используем собственные модули по оптимизации изображений и конвертации каталогов.
				
			.container__col
				.speed-box
					.speed-box__item
						span Технологичная верстка
					.speed-box__item
						span Правильный код
					.speed-box__item
						span Оптимизация изображений
					.speed-box__item
						span Подключение других сервисов
					.speed-box__item
						span Оптимизация запросов
					.speed-box__item
						span Настроенный сервер
		