+modal({
	id: 'modal-order-registration',
	mod: 'modal-order-registration',
	title: 'ОФОРМЛЕНИЕ ЗАКАЗА\n',
	header: true
})
	.content.order-registration-content
		p(style='text-align: center;')
			| Уважаемые покупатели! Оформить заказ в интернет-магазине iBeauty Cosmetic Outlet вы можете в любое, удобное для вас время – <b>наши виртуальные двери открыты в режиме 24/7.</b>
			br
			br
			| Обработка оформленного вами заказа менеджером производится с 9:00 до 21:00 по МСК времени. Пожалуйста, дождитесь звонка менеджера с подтверждением вашего заказа.
			br
			br
			| Обращаем ваше внимание, что <b>минимальная сумма заказа в ИМ iBeauty составляет 2000р. Максимальный вес одного заказа ограничен 30кг.</b>
			br
			br
			| Ознакомиться с вариантами и условиями доставки заказов вы можете <a href='#' aria-label='Условия доставки'>здесь</a>.
			br
			br
			| Напоминаем Вам, что продукция, представленная в iBeauty Cosmetic Outlet, делится на КОДЫ. Более подробно ознакомиться с информацией о КОДАХ товара Вы можете
			| <a href='#' aria-label='Пользовательское Соглашение'>в п.1.13. Пользовательского Соглашения.</a>
			br
			br
			| <b>Приятных вам покупок!</b>

