.no-critical {
	max-height: 50vh;
	position: relative;
	min-height: 100px;
	pointer-events: none;
	overflow: hidden;

	&.no-critical--hidden {
		max-height: 0;
		min-height: 0;
		&:before {
			display: none;
		}
	}
	> * {
		transition: opacity .3s;
		opacity: 0;
	}


	&:before {
		content: '';
		position: absolute;
		width: 20px;
		height: 20px;
		display: block;
		border-radius: 100%;
		border: 2px solid #eee;
		border-top-color: #6a3970;
		left: calc(50% - 15px);
		top: calc(50% - 15px);
		transform-origin: 50% 50%;
		animation-name: rotate;
		animation-duration: 600ms;
		animation-iteration-count: infinite;
		animation-timing-function: linear;
		z-index: 100;
		box-shadow: 0 0px 15px 4px rgba(255,255,255, 1);
	}
}

@keyframes rotate {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
