
+include-style('inner-pages')
.page404 
	span 404
.page404-title Такой страницы нет
.page404-desc Возможно введен неверный адрес страницы или страница была удалена с сервера
.page404-action
	a.btn.btn-primary.page404-btn(href='/local/templates/html/index.html' aria-label='На главную') На главную
