@import "../../assets/css/common/components-import";
.inner {
  .header {
    position: relative;
  }
  .menu {
    &__item {
      .link {
        color: #666;
        &:hover {
          color: #7a4281;
          border-bottom: 1px solid #7a4281;
        }
      }
    }
  }
  .burger {
    z-index: 910;
    .burger__item {
      background: #666;
    }
    &.active {
      .burger__item {
        background: #999;
      }
    }
  }
}
.page404 {
	width: auto;
	max-width: 100%;
	display: flex;
	justify-content: center;
	margin: 100px 0;
	span {
		background: linear-gradient(to right, #6a3970, #e78d3a);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		font-weight: bold;
		font-size: 160px;
	}

	
}
.page404-img {
  max-width: 200px;
  margin: 40px auto;
}

.page404-title {
  font-size: 28px;
  margin: 0 auto 16px;
  max-width: 515px;
  text-align: center;
}

.page404-desc {
  margin: 0 auto 40px;
  max-width: 515px;
  text-align: center;
  line-height: 24px;
  font-size: 16px;
}

.page404-action {
  margin: 0 auto 80px;
  max-width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sitemap-l1 {
}

.sitemap-l1-link {
  color: #000;
  font-size: 16px;
  line-height: 16px;
  margin: 0 0 10px;
  display: block;
}

.sitemap-l2 {
  padding: 0 0 0 15px;
}

.sitemap-l2-link {
  color: #000;
  font-size: 16px;
  line-height: 16px;
  margin: 0 0 10px;
  display: block;
}

.sitemap-l3 {
  padding: 0 0 0 15px;
}

.sitemap-l3-link {
  color: #000;
  font-size: 16px;
  line-height: 16px;
  margin: 0 0 10px;
  display: block;
}
