+include-style('reiting-block')
.reiting-block
	//- +lazy-bg({
	//- 	img: 'images/1c-bitrix.png'
	//- })
	.container
		.row
			.container__col
				h2.reiting-block__title Мы растем в рейтингах!
				.secondary-text В отраслевом рейтинге Интернет-магазины мы взяли 2 место. И это круто, потому что 2 года мы скрупулёзно качаем е-коммерс. Мы делаем самые быстрые и функциональные магазины. В отраслевом рейтинге Финансы мы на 3 месте. В рейтинге креативности мы заняли 4 место.
				h3 Всего за 3 года работы SLAM попала во многие отраслевые Рейтинги Рунета и выиграла несколько наград за свои проекты.
		
				.reiting-box
					.reiting-box__item
						.num 2
						.reiting-text место в номинации Корпоративный сайт 
							span (наш любимый проект chance.by)
					.reiting-box__item
						.num 2
						.reiting-text место в номинации Сервисы 
							span (проект-гордость partizany.by)
					.reiting-box__item
						.num 2
						.reiting-text место в номинации Сервисы (chance.by)
					.reiting-box__item
						.num.fiolet 5
						.reiting-text  место в рейтинге веб-студий!
			.container__col
			