extends ../layout/layout-empty

block vars
	- var bodyClass = 'inner'
	- var pageTitle = '500'
	- var dir = './'
	- var layout = ''
	- var componentsList = []

block main
	include ../components/inner-pages/500

block componentsStyles
	+style-includer()

block scripts
