@import "../../assets/css/common/components-import";
.first-screen-bg {
	width: 70%;
	max-width: 896px;
	position: absolute;
	z-index: -1;
	bottom: 0;
	right: -70px;
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;	
	}
}
.first-screen {
	display: flex;
	align-items: center;
	// padding: 200px 0 250px;
	color: #fff;
	position: relative;
	z-index: 1;
	width: 100%;
	height: 100%;
	max-height: 100%;
	background: rgba(137, 64, 131, 1);
	&:before{
		content: '';
		position: absolute;
		z-index: 0;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, .1);
	}
	& > .container {
		position: relative;
		height: 100%;
	}
	&__body {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		padding: 150px 0 200px;
	}
	&__text-col {
		width: 80%;
		max-width: 950px;
	}
	&__form-col {
		width: 100%;
		max-width: 430px;
	}
	h1,
	.h1 {
		color: #fff;
		margin-bottom: 40px;
	}
	.h3 {
		max-width: 570px;
		line-height: 1.4;
	}
	.text-20 {
		font-weight: bold;
		font-size: 20px;
	}
	.fs-list {
		margin: 40px 0;
		&__item {
		font-size: 20px;
		padding: 5px 0;
		line-height: 1.2;
		}
	}
	.animate-field {
		position: relative;
		z-index: 1;
		width: 100%;
		.el {
		  position: absolute;
		  z-index: 20;
		  animation: opacityElement 5s infinite;
		  &:nth-child(1) {
			top: 170px;
			left: -200px;
			width: 1px;
			height: 115px;
			background-color: #fff;
			animation-delay: 2s;
		  }
	
		  &:nth-child(2) {
			top: 90px;
			left: -140px;
			width: 4px;
			height: 131px;
			background-color: #FF8600;
			animation-delay: 0.2s;
		  }
	
		  &:nth-child(3) {
			top: 50px;
			left: -110px;
			width: 1px;
			height: 100px;
			background-color: #FF8600;
			animation-delay: 2.5s;
		  }
	
		  &:nth-child(4) {
			top: 80px;
			left: -57px;
			width: 10px;
			height: 100px;
			background-color: #FF8600;
			animation-delay: 1s;
		  }
	
		  &:nth-child(5) {
			top: 0;
			left: -20px;
			width: 1px;
			height: 120px;
			background-color: #fff;
			animation-delay: 3s;
		  }
	
		  &:nth-child(6) {
			top: 0;
			left: 50px;
			width: 4px;
			height: 67px;
			background-color: #fff;
			animation-delay: 3s;
		  }
	
		  &:nth-child(7) {
			top: 0;
			left: 8 0px;
			width: 4px;
			height: 45px;
			background-color: #7a4281;
			animation-delay: 0s;
		  }
	
		  &:nth-child(8) {
			top: 140px;
			left: 71%;
			width: 1px;
			height: 80px;
			background-color: #fff;
			animation-delay: 0s;
		  }
		  &:nth-child(9) {
			top: 200px;
			left: 73%;
			width: 12px;
			height: 34px;
			background-color: #FF8600;
			animation-delay: 4s;
		  }
		  &:nth-child(10) {
			top: 80px;
			left: 77%;
			width: 20px;
			height: 90px;
			background-color: #FF8600;
			animation-delay: 2s;
		  }
		  &:nth-child(11) {
			top: 120px;
			left: 81%;
			width: 1px;
			height: 165px;
			background-color: #fff;
			animation-delay: 3s;
		  }
		  &:nth-child(12) {
			top: 230px;
			left: 85%;
			width: 14px;
			height: 78px;
			background-color: #FF8600;
			animation-delay: 5s;
		  }
		  &:nth-child(13) {
			top: 40px;
			left: 88%;
			width: 4px;
			height: 150px;
			background-color: #FF8600;
			animation-delay: 4s;
		  }
		  &:nth-child(14) {
			top: 100px;
			left: 91%;
			width: 6px;
			height: 130px;
			background-color: #fff;
			animation-delay: 0s;
		  }
		  &:nth-child(15) {
			top: 140px;
			left: 95%;
			width: 1px;
			height: 148px;
			background-color: #fff;
			animation-delay: 3s;
		  }
		  &:nth-child(16) {
			top: 270px;
			right: 0;
			width: 10px;
			height: 48px;
			background-color: #8A4184;
			animation-delay: 1s;
		  }
		  &:nth-child(17) {
			top: 150px;
			right: -5%;
			width: 4px;
			height: 280px;
			background-color: #894083;
			animation-delay: 2s;
		  }
		  &:nth-child(18) {
			top: 270px;
			right: -10%;
			width: 1px;
			height: 82px;
			background-color: #F6871F;
			animation-delay: 5s;
		  }
		  &:nth-child(19) {
			top: 250px;
			right: -13%;
			width: 10px;
			height: 65px;
			background-color: #fff;
			animation-delay: 4s;
		  }
		  &:nth-child(20) {
			top: 430px;
			right: -15%;
			width: 15px;
			height: 54px;
			background-color: #fff;
			animation-delay: 3s;
		  }
		  &:nth-child(21) {
			top: 21 0px;
			right: -18%;
			width: 1px;
			height: 120px;
			background-color: #8A4184;
			animation-delay: 1s;
		  }
		}
	}
	@media (max-width: 1024px) {
		&__body {
			padding: 80px 0;
		}
		&__text-col {
			width: 100%;
		}
	}
}