.first-screen
	.container
		picture.first-screen-bg
			source(media="(max-width: 460px)" srcset="images/main-bg.png")
			source(media="(min-width: 461px)" srcset="images/main-bg.png")
			img(src="images/main-bg.png", alt="img")
		.first-screen__body
			.first-screen__text-col
				h1 Разработка как спорт.<br>Важен только результат
				.secondary-text SLAM — это команда единомышленников, обладающих обширным опытом в области IT-разработки. Наша главная ценность — люди, с которыми можно делать проект любой сложности. Сегодня SLAM – это 20 узкоспециализированных специалистов, которые делают самые производительные сайты на рынке веб-услуг.
				.secondary-text Мы работаем с топовыми компаниями, которые умеет ценить своих разработчиков. Мы любим нетривиальные и сложные задачи. Мы не боимся новых технологий и с удовольствием их осваиваем. Мы следим за работой поисковых систем и делаем SEO-оптимизированные проекты. Мы делаем сложные интеграции с различными учетными системами. Мы всегда ускоряем ресурсы на максимум и оставляем после себя чистый код. При этом мы ненавидим бюрократию и выдаем результат в максимально короткие сроки. Потому что разработка как спорт. Важен только результат.
				.h3 С 2020 года SLAM является резидентом Парка высоких технологий
		//- .animate-field.hidden-md-down
		//- 	- var n = 0;
		//- 	while (n < 20)
		//- 		- n++
		//- 		.el 