@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/modal";
@import "../../assets/css/common/components-import";

body.modal-open .header-fixed {
  width: calc(100% - 15px);
}

.modal-feedback-form {
  max-width: 515px;
  width: 100%;
  margin: 0 auto;
}

.order-registration-content {
  max-width: 515px;
  width: 100%;
  margin: 0 auto;
}

.modal {
  background-color: #fff;

  .modal-dialog {
    margin: 0 auto;
  }

  .modal-content {
    border-radius: 0;
    border: none;
    background-clip: unset;
  }

  .modal-footer > * {
    margin: unset;
  }

  .modal-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .modal-close {
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.3994 13.5498L26.0744 26.2248' stroke='gray' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M25.9238 13.5498L13.2488 26.2248' stroke='gray' stroke-width='2' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    position: absolute;
    top: 0;
    right: 0;
		z-index: 1;
		transition: opacity;
  }

  .modal-body {
		padding: 20px 16px 24px;
  }

  .modal-header {
    border-radius: 0;
    padding: 50px 16px 20px;
    border-bottom: none;
  }

  .modal-title {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.3;
    width: 100%;
    background: linear-gradient(to right, #6a3970, #e78d3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @media (min-width: $sm) {
    background-color: transparent;
  }

  @media (min-width: $md) {
    .modal-header {
      padding: 40px 40px 20px;
    }
    .modal-body {
      padding: 20px 40px 50px;
    }
    .modal-dialog {
      max-width: 595px;
    }
    .modal-dialog--lg {
      max-width: 768px;
    }
  }

  @media (min-width: $xl) {
    .modal-close {
      &:hover {
        opacity: 0.8;
      }
    }
  }
}
