@import "../../assets/css/common/components-import";
.form2-block {
	background: #fbf6fc;
	padding: 100px 0;
	&__title {
		text-align: center;
		margin-bottom: 50px;
	}
	@media (max-width: 1024px) {
		.fs-form {
			margin-top: 50px;
		}
	}
	@media (max-width: 575px) {
		padding: 50px 0;
	}
}