+include-style('slider-speed')
+include-script('slider-speed')
.slider-speed
	+swiper({
		wrapper_mod: '',
		container_mod: '',
		pagination_mod: '',
		arrow_prev_mod: '',
		arrow_next_mod: '',
		pagination: true,
		navigation: true,
	}).swiper-speed.js-swiper-speed
		//- Слайды
		.swiper-slide.swiper-speed__video
			+video-card({
				embed: 'XnHIsoonXHc'
			})
		.swiper-slide.swiper-speed__video
			+video-card({
				embed: 'XnHIsoonXHc'
			})
		.swiper-slide.swiper-speed__video
			+video-card({
				embed: 'XnHIsoonXHc'
			})
		.swiper-slide.swiper-speed__video
			+video-card({
				embed: 'XnHIsoonXHc'
			})
		.swiper-slide.swiper-speed__video
			+video-card({
				embed: 'XnHIsoonXHc'
			})
		.swiper-slide.swiper-speed__video
			+video-card({
				embed: 'XnHIsoonXHc'
			})
		