@import "../../assets/css/common/components-import";
.form-block {
  padding: 100px 0;
  &__body {
    padding: 50px;
    background-color: #fff;
    box-shadow: -1px 5px 29px 0 rgba(0, 0, 0, 0.15);
  }
  &__title {
    text-align: center;
  }
  &.full-wrap {
    position: relative;
    z-index: 1;
    width: 100%;
  }
  .animate-field {
    position: relative;
    z-index: 1;
    width: 100%;
    .el {
      position: absolute;
      z-index: 20;
      animation: opacityElement 5s infinite;
      &:nth-child(1) {
        top: 0;
        left: -138px;
        width: 8px;
        height: 25px;
        background-color: #7a4281;
        animation-delay: 2s;
      }

      &:nth-child(2) {
        top: 11px;
        left: -112px;
        width: 4px;
        height: 81px;
        background-color: #e48023;
        animation-delay: 0.2s;
      }

      &:nth-child(3) {
        top: -94px;
        left: -95px;
        width: 1px;
        height: 145px;
        background-color: #e48023;
        animation-delay: 2.5s;
      }

      &:nth-child(4) {
        bottom: -127px;
        left: -57px;
        width: 2px;
        height: 107px;
        background-color: #7a4281;
        animation-delay: 1s;
      }

      &:nth-child(5) {
        bottom: -60px;
        left: -28px;
        width: 8px;
        height: 9px;
        background-color: #e48023;
        animation-delay: 3s;
      }

      &:nth-child(6) {
        bottom: 160px;
        right: -34px;
        width: 8px;
        height: 8px;
        background-color: #e48023;
        animation-delay: 3s;
      }

      &:nth-child(7) {
        bottom: 150px;
        right: -75px;
        width: 7px;
        height: 147px;
        background-color: #7a4281;
        animation-delay: 0s;
      }

      &:nth-child(8) {
        bottom: 218px;
        right: -95px;
        width: 3px;
        height: 36px;
        background-color: #e48023;
        animation-delay: 4s;
      }
    }
  }

  .form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: calc(100% + 30px);
    margin: 0 -15px;

    .form-group {
      width: calc(25% - 30px);
      margin: 20px 15px;
    }
    .btn {
      margin-top: 20px;
    }
  }
  @media (max-width: 1024px) {
    .form {
      .form-group {
        width: calc(50% - 30px);
      }
    }
  }
  @media (max-width: 575px) {
    padding: 30px 0;
    &__body {
      padding: 30px;
    }
    .form {
      margin-top: 20px;
      .form-group {
        width: calc(100% - 30px);
        margin: 0 auto 20px auto;
      }
    }
  }
}
.btn-outline {
  padding: 0 40px;
	position: relative;
	z-index: 5;
	overflow: hidden;
  background: linear-gradient(
    to right,
    darken(#7a4281, 5%),
    lighten(#e48023, 5%)
  );
  &:hover {
    &:before {
      background: linear-gradient(
        to right,
        darken(#7a4281, 5%),
        lighten(#e48023, 5%)
      );
    }
    span {
      background: #fff;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
  span {
    position: relative;
    transition: background 0.3s;
    background: linear-gradient(
      to right,
      darken(#7a4281, 5%),
      lighten(#e48023, 5%)
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
    z-index: 5;
  }
  &:before {
    content: "";
    position: absolute;
    display: block;
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    top: 1px;
    right: 1px;
    bottom: 1px;
    left: 1px;
    background-color: #fff;
    z-index: 1;
  	transition: background 0.3s;
  }

  &:after {
    content: "";
		position: absolute;
		z-index: 0;
    top: 0;
    left: -10%;
    width: 230%;
    height: 100%;
    background: linear-gradient(
        to left,
        rgba(#fbf6fc, 0),
        rgba(#fbf6fc, 0.8),
        rgba(#fbf6fc, 0)
      )
      no-repeat -2em 0;
    background-size: 2em 100%;
    transform: skewX(-50deg);
    animation: blink 6s infinite linear;
  }

  @keyframes blink {
    0% {
      background-position: -2em 0;
    }
    20% {
      background-position: 100% 0;
    }
    100% {
      background-position: 100% 0;
    }
  }

  &[disabled],
  &.disabled {
    border: solid 1px rgba(30, 30, 30, 0.2) !important;
    color: rgba(30, 30, 30, 0.2) !important;
    background: transparent !important;
    &:active,
    &:hover,
    &.active {
      box-shadow: none !important;
      background-color: transparent !important;
      color: rgba(30, 30, 30, 0.2) !important;
    }
  }
}
