@import "../../assets/css/common/components-import";
.promo-block-wrap {
  position: relative;
	padding: 100px 0;
	&__bg {
		width: 100%;
    height: 100%;
		
    &:after {
      content: "";
      display: block;
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(45deg, #be28a6 0, #e48023 70%);
      opacity: 0.8;
		}

		.lazy-img-wrap {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			.lazy-img {
				width: 100%;
				height: 100%;
				background-repeat: no-repeat;
				background-position: center top;
				background-size: cover;
				background-attachment: fixed;
			}
		}
  }
}

.promo-block {
  position: relative;
  &__title {
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
  }
  &__body {
    background: #fbf6fc;
    padding: 70px 30px;
  }
  .text {
    font-size: 20px;
    margin: 20px 0;
    line-height: 1.3;
    color: $c-main;
  }
}
@media (max-width: 1024px) {
	.promo-block-wrap {
		padding: 70px 0;
	}
	.promo-block {
		&__title {
			margin-bottom: 30px;
		}
		&__body {
			padding: 30px;
		}
		.text {
			font-size: 16px;
			margin: 20px 0;
		}
	}
}