+include-style('wide-triple-block')
.wide-triple-block#speed
	.container
		h2.wide-triple-block__title На что влияет скорость?
		.wide-triple-block__text Высокая скорость работы - это не просто требование ваших пользователей, это технологическая необходимость.
		.triple-block
			.triple-block__item
				.tb-icon
					+lazy-bg({
						img: 'images/ic-effect.svg'
					})
				.tb-head Эффективность рекламы
				.tb-body Переходя на ваш медленный сайт, пользователи могут быстро закрыть его. Как следствие - вы просто сливаете свои рекламные бюджеты
			.triple-block__item
				.tb-icon
					+lazy-bg({
						img: 'images/ic-deep.svg'
					})
				.tb-head Глубина просмотра
				.tb-body Вероятность продажи на вашем сайте напрямую зависит от количества просмотренных страниц и качества проведенного времени на сайте
			.triple-block__item
				.tb-icon
					+lazy-bg({
						img: 'images/ic-index.svg'
					})
				.tb-head Индексация сайта
				.tb-body И Google, и Яндекс постоянно заявляют, что сегодня скорость работы особенно в мобильной выдаче напрямую влияют на ваши позиции в ранжировании.

