+modal({
	id: 'modal-success',
	mod: 'modal-success',
	title: 'Запрос отправлен',
	header: true
})
	.content.order-registration-content
		p(style='text-align: center') Мы свяжемся с Вами в ближайшее время
