+modal({
	id: 'modal-about-code',
	mod: 'modal-about-code',
	title: 'Подробнее о кодах товаров',
	header: true,
	dialog_mod: 'modal-dialog--lg'
})
	.content
		p
			b КОД 1&nbsp;
			| - регулярный ассортимент (CODE 1), то есть ассортимент Товара без каких-либо дефектов.
			br
			br
			b КОД 2&nbsp;
			|– ассортимент с различными дефектами упаковки (CODE 2), такими как испорченный внешний вид упаковки - потертости, следы скотча и/или клея; различного рода повреждения, замятия упаковки (как первичной, так и вторичной упаковки); надорванная, разорванная, поврежденная упаковочная слюда/пленка и прочие дефекты как первичной, так и вторичной упаковки Товара. Количество товара по КОДУ 2 ограничено.
			br
			br
			b КОД 3&nbsp;
			|- ассортимент с небольшими сроками годности (CODE 3) представляет собой Товар с оставшимся сроком годности менее 2 (двух) лет. Уточняющую информацию по срокам годности на Товар КОДА 3 можно получить у менеджера магазина iBeauty по телефону. При этом среди Товара КОДА 3 могут также находиться Товары с различными дефектами упаковки, указанными выше (см. ассортимент КОДА 2). Количество товара по КОДУ 3 ограничено.
			br
			br
			b КОД 4&nbsp;
			|- ассортимент, состоящий из сезонных коллекций Товара, а также из Товаров, снятых с производства (CODE 4). За редким исключением, к ассортименту КОДА 4 может относиться Товар, находящийся в Интернет-магазине в избытке (оверсток, от английского «overstock» - излишний запас). При этом среди Товара КОДА 4 могут также находиться Товары с различными дефектами упаковки, указанными выше (см. ассортимент КОДА 2). Количество товара по КОДУ 4 ограничено.
			br
			br
			|На Товары, не относящиеся к регулярному ассортименту (КОД 1) предоставляется дополнительная скидка, при этом в карточке (в описании) Товара указывается соответствующий КОД, к которому относится Товар. Подтверждая свой выбор Товара с определенным КОДОМ, Клиент ставит галку в поле «Подтвердить» при отправке Товара в Корзину, и соглашается с условиями и особенностями таких Товаров, а также с тем, что Клиент не вправе в последующем ссылаться на оговоренные Продавцом недостатки и требовать замены и/или возврата Товара и/или соразмерного уменьшения покупной цены.

